<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" data-bs-theme="dark" aria-label="Eleventh navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><b>Ben</b><span style="font-weight: 300"> Weintraub</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% for dirpage in site.data.nav.direct_pages %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ dirpage.url }}">{{ dirpage.title }}</a>
                </li>
                {% endfor %}
                {% for droppage in site.data.nav.dropdown_pages %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">{{ droppage.title }}</a>
                    <ul class="dropdown-menu">
                        {% for subpage in droppage.subpages %}
                        <li><a class="dropdown-item" href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
